:root {
    --background: #d0011b;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1.4rem
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.justify-space{
    justify-content: space-between;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}